body{
    font-size: 25px;
    line-height: 40px;
    font-family: "bai-jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;

    border-top:40px solid white;  
    margin: 20px;
    padding: 0px;

    background-image: url(images/pattern.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 50px;
    background-color: gray;

}

::-webkit-scrollbar {
    width: 20px;
  }

/* Track */
::-webkit-scrollbar-track {
    background-color: lightgrey;
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }

img {
    width: 500px;
}

div.title {
    font-size: 35px;
    line-height: 100px;
    font-family: "andale-mono-mt-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0px;
}

div.title2 {
    font-size: 30px;
    line-height: 50px;
    font-family: "andale-mono-mt-pro", sans-serif;
    font-weight: 400;
    font-style: normal;    
    padding: 0px;
}

div.quote {
    font-size: 25px;
    line-height: 40px;
    font-family: "bai-jamjuree", sans-serif;
    font-weight: 400;
    font-style: italic;    
    margin: 50px;
    padding: 0px;
}

div.caption {
    font-size: 15px;
    line-height: 50px;
    font-family: "bai-jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 50px;

}

div.bold {
    font-size: 25px;
    line-height: 50px;
    font-family: "bai-jamjuree", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 50px;
}

div.font-white {
    font-size: 25px;
    line-height: 40px;
    font-family: "bai-jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;    
    margin: 50px;
    padding: 0px;
    color: white;
}

div.bg-grey {
    background-color: grey;
}

div.bg-black {
    background-color: black
}

div.width25 {
    width: 25%;
}

div.width50 {
    width: 50%;
}

div.width75 {
    width: 75%;
}

div.width10 {
    width: 10%
}

/* herovideo */

img, video {
    width: 100%;
    display: block;
}

div.herovideo {
    width: 300px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

div.mb {
    margin-bottom: 100px;
}

div.mt {
    margin-top: 100px;
}

div.mr {
    margin-right: 100px;
}

div.ml {
    margin-left: 100px;
}

/* layout */

div.container {
    display: flex;
    flex-wrap:wrap;
    margin-top: 100px;
    border-top:90px solid grey;
}

div.main {
    width: calc(66.66% - 40px);
    background: white;
    padding: 20px;
    height:100vh;
    overflow-y: scroll;   
}


div.sidebar {
    width: calc(33.33% - 40px);
    background: whitesmoke;
    padding: 20px;
    height:100vh;
    overflow-y: scroll;   
}